.main{background:#0F3A22;display:flex;justify-content:Center;align-items:center;height: 300px;width: 400px;}
div{position:absolute;}
.block{background:#289C5B;height:60px;width:210px;top:60px;}.bar{background:#FBFAE2;height:60px;width:60px;top:60px;position:relative;margin:7.5px;}
.circle{height:100px;width:100px;border-radius:50%;background:#0F3A22;}