.maindiv{height:300px;width:400px;position: absolute;background:#DACFA3;margin:0;}
.box{height:90px;width:80px;background:#2D3464;margin-left:40%}
.b1{margin-top:10px;height:100px;}.b2{margin-top:10px;}
.circle{position:absolute;top:110px;height:80px;width:80px;background:#D95362;border-radius:50%;}.c1{left:60px}.c2{right:60px}