.main{background:#81BE48;display:flex;justify-content:center;align-items:center;height:300px;width:400px;}
.box{height:80px;width:80px;border:50px solid #FFFFFF;border-radius:30px;}
.bar{position:absolute;height:300px;width:50px;background:#81BE48;transform:rotate(-45deg)}