.main{background:#262D80;display:flex;justify-content:center;align-items:center;height: 300px;width: 400px;}
div{position:absolute;}
.circle{height:190px;width:190px;border:30px solid #8BB248;border-radius:50%;}
.bar,.upper{background:#8BB248;}
.bar{height:100px;width:40px;top:125px;}
.upper{height:40px;width:40px;border-radius:50%;top:75px;}