.main{background:#302562;margin:0;height:300px;width:400px}
div{background:#0098D1;position:absolute;}
.box{height:150px;width:220px;margin-left:90px;margin-top:75px}
.line{height:40px;width:170px;left:115px}.l2{bottom:0px;}
.bar{height:200px;width:80px;left:160px;top:50px;}