.main{background:#2F434E;height:300px;width:400px;position: absolute;}
.bar{background:#CF6939;position:absolute;}
.b11{height:30px;width:270px;}
.b3{top:185px;right:15px;}
.b4{top:85px;left:15px;}
.b12{height:40px;width:320px;}
.b1{top:115px;left:15px;}
.b2{top:145px;right:15px;}
.back{height:30px;width:50px;background:#2F434E;position:absolute}
.a{top:85px;left:125px;}
.b{bottom:85px;right:125px;}