.main{background:#556D7F;display:flex;justify-content:center;align-items:center;height:300px;width:400px;}
.rectangle{height:180px;width:280px;background:#F4DCBF;}
.line{position:absolute;height:20px;width:140px;box-shadow:70px -60px #556D7F,70px -20px #556D7F,70px 20px #556D7F,70px 60px #556D7F;}