.main{background:#7E6293;display:Flex;justify-content:center;align-items:center;gap:50px;height: 300px;width: 400px;}
.bar{height:230px;width:80px;background:#EBE77E;border-radius:130px;}
.line{height:40px;width:40px;position:absolute;background:#EBE77E;left:175px}