.main{background:#243D83;display:flex;justify-content:center;align-items:center;height: 300px;width: 400px;}
div{background:#FFFFFF;position:absolute;}
.square{height:100px;width:120px;}
.rectangle{height:120px;width:100px;}
.line{height:180px;width:40px;}
.bar{height:40px;width:180px;}