.main{background:#E3DCD1;display:flex;justify-content:center;align-items:center;height: 300px;width: 400px;}
.box{height:200px;width:160px;background:#5370D9;display:flex;justify-content:center;align-items:center;gap:60px}
.inner{height:180px;width:20px;background:#E3DCD1;position:relative;bottom:20px;}
.bar{height:30px;width:60px;background:#5370D9;position:absolute;top:50px;}
.b1{left:40px}
.b2{left:320px}