.main{background:#DF914B;display:flex;justify-content:center;align-items:center;height:300px;width:400px}
.box{height:170px;width:150px;background:#EEEEEE;border-radius:0 0 20px 20px;position:absolute}
.circle{position:absolute;height:30px;width:30px;background:#DF914B;border-radius:50%;border:20px solid #EEEEEE;}
.c1{top:85px;left:80px;}
.c2{top:85px;right:1200px;}