.main{background:#49C85B;display:flex;justify-content:Center;align-items:center;height:300px;width:400px}
.circle{height:140px;width:140px;border:20px solid #30230A;border-radius:50%;}
.inner{height:60px;width:60px;border-radius:50%;border:20px solid #FFFFFF;position:absolute;}
.hori,.vert{position:absolute;background:#49C85B;}
.hori{height:200px;width:20px;}
.vert{height:20px;width:100px;}