.main{background:#D5CA5B;display:flex;justify-content:center;align-items:center;height:300px;width:400px;}
div{position:absolute;background:#2F5A76;}
.square{Height:70px;width:70px;left:30px;box-shadow:90px 0px #2F5A76,180px 0px #2F5A76,270px 0px #2F5A76;}
.mini{height:30px;width:30px;top:75px;left:50px;box-shadow:180px 0px #2F5A76,90px 120px #2F5A76,270px 120px #2F5A76;}