.main{background:#6D1B24;display:flex;justify-content:center;align-items:center;gap:20px;height: 300px;width: 400px;}
.circle{border-radius:50%;height:50px;width:50px;background:#FADE8B;}
.line{position:absolute;height:10px;width:300px;background:#FADE8B;}