.main{background:#FADE8B;margin:0;display:flex;align-items:center;justify-content:center;height: 300px;width: 400px;}
div{position:absolute;}
.square{height:60px;width:40px;border:60px solid #222222;}
.circle{width:400px;height:250px;border-radius:120px;top:60px;box-sizing:border-box;border:60px solid #222222;}
.box{height:125px;width:400px;background:#FADE8B;bottom:-5px;}.bar{height:60px;width:40px;background:#FADE8B;top:60px;}