.main{background:#E38F66;display:flex;align-items:Center;justify-content:Center;}div{position:absolute;height: 300px;width: 400px;}
.box{height:120px;width:120px;background:#FFFBDA;}.v1{top:60px;right:90px;}.v2{bottom:60px;left:90px;}
.circle{background:#E38F66;height:120px;width:120px;border-radius:0 40%}.square{height:60px;width:60px;background:#FFFBDA}