 body{
    background:#F1E1BE;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
  }
  .box{
  height:120px;
    width:210px;
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-around
  }
  .middle{
    height:50px;
    width:400px;
    display:flex;
    justify-content:space-between
    
  }
  .b{
    background:#240D29;
    height:50px;
    width:30px;
    position:relative;
  }
  .b1{
    top:20;
  }
  .b2{
    bottom:10;
  }
  .b3{
    height:60;
    bottom:15;
  }
  .b4{
    height:60;
    top:15;
  }
  .line{
    height:20px;
    width:105px;
    background:#240D29;
    position:relative;
    top:20;
  }