.main{background:#A82973;height: 300px;width: 400px;}
div{height:60px;width:60px;background:#EEC8EA;position:absolute;}
.div1{left:130px;top:80px}
.div2{left:130px;bottom:80px}
.div3{right:130px;top:80px}
.div4{right:130px;bottom:80px;}
.div1,.div4{transform:rotate(-10deg)}
.div3,.div2{transform:rotate(10deg)}