.main{background:#B7D7CD;display:flex;justify-content:center;align-items:Center;height:300px;width:400px;
}
div{position:absolute;}
.line{height:230px;width:50px;background:#C06C88;left:166px;}.top{height:40px;width:80px;background:#C06C88;top:35px;left:135px;}
.bottom{height:30px;width:90px;background:#C06C88;top:235px;left:145px;}
.bar{height:30px;width:60px;background:#411C56;top:35px;left:215px;}
.circle{height:60px;width:60px;border:30px solid #411C56;border-radius:50%;top:80px;left:155px;clip-path:inset( 0 0 0 50%)}