.main{background:#F8D2D1;}div{position:absolute;height: 300px;width: 400px;}
.hori{height:60px;width:120px;border:20px solid #5AA4B7;box-sizing:border-box;left:140px;}.h2{bottom:40px;}.h1{top:40px}
.ver{height:120px;width:60px;border:20px solid #5AA4B7;box-sizing:border-box;top:90px;}.v1{left:40px;}.v2{right:40px;}