.main{height: 300px;width: 400px;background:#74B15C;margin:0;}
div{position:absolute;}
.bar{height:100%;width:60px;background:#1A552B;}
.b1{left:90px}
.b2{right:90px}
.box{height:60px;width:150px;background:#1A552B;}.x1,.x2,.x3{left:30px}
.x1,.x4{top:40px;}
.x2,.x5{top:120px;}
.x3,.x6{top:200px;}
.x4,.x5,.x6{right:30px;}