.main{background:#4C455B;display:flex;justify-content:Center;align-items:Center;height: 300px;width: 400px;}
div{position:absolute;}
.line{height:240px;width:60px;background:#F3EAD2;}.l1{left:80px}.l2{right:80px;}
.box{height:200px;width:280px;background:#8AB8B6;}
.bar{background:#F3EAD2;height:140px;width:60px;}.b1{left:80px;}.b2{right:80PX}