.main{background:#D5ACAD;display:flex;justify-content:center;align-items:center;height: 300px;width: 400px;}
.circle{height:80px;width:80px;border-radius:50%;background:#F4DA64;border:60px solid #401C1D;}
.inner{height:80px;width:80px;position:absolute;background:#401C1D;border-radius:50%;top: 170px;}