 body{
    background:#243D83;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .bigCircle{
    box-sizing:border-box;
    border:20px solid #FFFFFF;
    border-radius:50%;
    height:240px;
    width:240px;
  }
  .smallCircle{
    position:absolute;
    background:#FFFFFF;
    border-radius:50%;
    height:120px;
    width:120px
  }
  .line{
    position:absolute;
    height:250px;
    width:45px;
    background:#243D83;
  }
  .vert{
    transform:rotate(90deg)
  }