.main{display:flex;justify-content:center;align-items:center;margin:0px;background:#EED9D9;height:300px;width:400px;}
div{position:absolute;}
.circle{height:120px;width:120px;background:#394257;border-radius:50%;}
.line,.line2{background:#6D8178;}
.line{height:200px;width:40px;}
.line2{height:40px;width:120px;}