.main{background:#E38F66;margin:0;height:300px;width:400px;}
.box{height:80px;width:90px;background:#F7EC7D;box-shadow:310px 0px #F7EC7D,0px 130px #F7EC7D,310px 130px #F7EC7D ;}
.bar{height:50px;width:220px;background:#F7EC7D;position:relative;top:130px;left:90px;}