.main{background:#ECE3DF;margin:0;height:300px;width: 400px;}
div{position:absolute;background:#2B2A4A;}
.box{height:125px;width:260px;left:70px;}.b2{bottom:0px;}
.line{height:25px;width:80px;}
.l1{right:0px;top:100px;}
.l2{left:0px;bottom:100px;}