.main{background:#CF596A;display:flex;justify-content:center;align-items:center;height:300px;width:400px;}
.square{height:140px;width:140px;border:40px solid #F3EAD2;position:absolute;}
.s1{transform:rotate(45deg);top:150px;clip-path:inset(0 40% 40% 0)}