body,.line,.bottom{background:#B6EBE7}
.circle{height:400px;width:400px;box-sizing:border-box;border:100px solid #5370D9;display:flex;justify-content:center;align-items:center;}
.circle,.line,.bottom{position:absolute;}
.circle,.inner{border-radius:50%}
.c1,.c2{top:50px}
.c1{right:180px;}
.c2{left:180px;}
.inner{height:60px;width:60px;background:#5370D9;}
.line{height:300px;width:20px;}
.l1{left:0px;}
.l2{right:0px;}
.bottom{height:50px;width:400px;;bottom:0px;}