.main{height: 300px;width: 400px;background:#F3EAD2;display:flex;justify-content:center;align-items:center;}
.box{height:180px;width:160px;box-sizing:border-box;border:30px solid #4C455B;}
.circle{background:#4C455B;height:80px;width:80px;border-radius:50%;position:relative;bottom:20px;left:10px}.c1{bottom:30px;}.c2{bottom:10px;}